<a href="https://colab.research.google.com/github/mmaithani/Predicting-price-of-books/blob/master/prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
# from sklearn.preprocessing import LabelEncoder as le
# Import label encoder 
from sklearn import preprocessing 
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()

In [0]:
data=pd.read_excel('/content/joined_data.xlsx')
traindata=pd.read_excel('/content/Data_Train.xlsx')  #given train data     - ('/cleaned_data-open refine/Data_Train.xlsx')
or_traindata=pd.read_csv('/content/data_train.csv')  #processed train data - ('/cleaned_data-open refine/data_train.csv')

# 1. Given data (train)

In [32]:
traindata.head()

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 9 columns]

# 2. openrefine processed train data

In [33]:
or_traindata.head()

                                        Title  ...   Price
0         The Prisoner's Gold (The Hunters 3)  ...  220.00
1          Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                Leviathan (Penguin Classics)  ...  299.00
3          A Pocket Full of Rye (Miss Marple)  ...  180.00
4  LIFE 70 Years of Extraordinary Photography  ...  965.62

[5 rows x 9 columns]

# 3. After openrefine processing -combined train test data
## all the review,ratings AND edition data gets cleaned and massaged
### date-edition is the new feature created wrt to price

In [5]:
data.head()

        File  ... Price
0  Data_Test  ...   NaN
1  Data_Test  ...   NaN
2  Data_Test  ...   NaN
3  Data_Test  ...   NaN
4  Data_Test  ...   NaN

[5 rows x 10 columns]

# encoding book category

In [6]:
data['BookCategory'].unique()

array(['Crime, Thriller & Mystery', 'Computing, Internet & Digital Media',
       'Romance', 'Language, Linguistics & Writing',
       'Arts, Film & Photography', 'Politics', 'Action & Adventure',
       'Humour', 'Sports', 'Biographies, Diaries & True Accounts',
       'Comics & Mangas'], dtype=object)

In [7]:
# Encode labels in column 'category'. 
data['BookCategory']= label_encoder.fit_transform(data['BookCategory']) 
data['BookCategory'].unique()

array([ 5,  4,  9,  7,  1,  8,  0,  6, 10,  2,  3])

# Encoding genre

In [8]:
data['Genre']= label_encoder.fit_transform(data['Genre']) 
data['Genre'].unique()

array([304, 255, 294, 275, 219,  23, 242,   1,  25, 346, 186, 187, 303,
        35, 103, 336, 320,  64, 109, 122,  99,  46,  21, 215, 273, 216,
        87, 168, 190,  76, 337,  17, 227, 100,  34,   8, 335, 359,  72,
        22, 127, 353, 174, 162, 167, 165,  86, 193,  92, 241, 247,  19,
         9, 229,  96,  13, 313,  85, 333,  55, 218, 271, 277, 330,  78,
        83,  50, 266, 256, 140, 310, 332,  38, 325,  94, 338, 307, 322,
       272, 291,  47,  91, 269, 207,  45,   3, 341, 282, 342, 264,  36,
       237, 154, 352, 293, 172, 156, 212,  24, 300,  31, 202, 195,  16,
        95, 224, 108, 155,  48, 329, 171, 204, 308, 226,   0,  40, 170,
        71,  80, 321, 323, 114,  32, 240, 159, 161, 181, 183, 191, 160,
        12, 139, 249, 213, 125, 222, 234, 318,  69,  75, 290, 314,  60,
       149, 283,  67, 118, 201, 194, 278, 134, 261, 137, 214,  90, 189,
        97,  58, 245, 166,  29,  61, 101, 343, 145,  77,  41,  49,  88,
       124, 131, 104, 315, 130, 180,  79, 182, 223, 115,  73, 292,  59,
       276,  62, 175, 355,  44, 178, 263, 225, 133, 357, 235, 141,   5,
       324, 142,  11, 147, 128, 317, 188,  68, 309,  89, 153, 169,  43,
       116, 356, 158, 135, 197, 301, 230,  70, 312,  98, 221, 267, 238,
       287,  66,  26, 347, 200, 257,  27, 146, 231, 196, 217, 305,  63,
       208, 328, 260, 152, 289, 358, 150, 111,  81, 184, 117,  93, 351,
       350, 281,  53, 270, 362, 157, 164, 179, 148, 203, 211, 173, 268,
       126,  57, 327,  10, 138, 284, 123, 345, 344, 340, 252, 258,  84,
       110, 144, 239, 120, 246, 163, 311, 265, 199, 296, 129, 206, 209,
       262, 210, 205, 177, 302, 198, 274, 185, 119,  14, 331, 236, 176,
       279,  52,   7, 192,  42,  56, 243, 248, 360, 254, 306, 107, 106,
       348, 326,  82, 259, 228, 349, 286, 361, 102, 105,  33, 121,  15,
        28, 339,  39, 298, 112, 299,  74,  54, 250, 334, 280,  18,   2,
       136,  20, 143, 251, 354, 285, 316,  37, 233,  51, 297,  65,  30,
       232, 151,   4, 288, 220, 295, 132, 244, 113, 319, 253,   6])

In [14]:
data['Edition 1'].unique()

array(['Mass Market Paperback', 'Paperback', 'Hardcover', 'Cards',
       'Sheet music', 'Flexibound', 'Spiral-bound', '(Chinese),Paperback',
       'Loose Leaf', 'Plastic Comb', 'Tankobon Softcover',
       'Perfect Paperback', 'Board book', '(Kannada),Paperback',
       'Product Bundle', 'Library Binding', '(German),Paperback',
       'Leather Bound', '(French),Paperback', '(Spanish),Paperback'],
      dtype=object)

In [15]:
data['Edition 1']= label_encoder.fit_transform(data['Edition 1']) 
data['Edition 1'].unique()

array([12, 13,  8,  6, 17,  7, 18,  0, 11, 15, 19, 14,  5,  3, 16, 10,  2,
        9,  1,  4])

In [22]:
data.tail()

            File  ...  Price
7792  Data_Train  ...  322.0
7793  Data_Train  ...  421.0
7794  Data_Train  ...  399.0
7795  Data_Train  ...  319.0
7796  Data_Train  ...  452.0

[5 rows x 10 columns]

### 6787 are unique title from 7797 record

In [0]:
n=pd.DataFrame(data['Title'].unique())

In [27]:
n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 1 columns):
0    6787 non-null object
dtypes: object(1)
memory usage: 53.1+ KB